@font-face {
    font-family: gameFont;
    src: url(./Press_Start_2P/PressStart2P-Regular.ttf);
}

.container {
    background-color: crimson;
    display: flex;
    justify-content: space-evenly;
}

* {
    box-sizing: border-box;
    font-family: gameFont;
}

button {
    height: 50px;
}

.image-box {
    background-color: black;
    width: 25vw;
    height: 25vw;
    position: absolute;
    top: 8vw;
    left: 8vw;
    border: 10px solid white;
}

.info-box {
    background-color: white;
    width: 25vw;
    height: 25vw;
    position: absolute;
    top: 8vw;
    left: 43vw;
    overflow: scroll;
}

/*Puts Pokemon's name into name box*/
.name-box {
    background-color: white;
    width: 10;
    height: 5vw;
    position: absolute;
    top: 30vw;
    left: 10vw;
    color: black;
}

/*Puts Pokemon Image inside Box*/
.inside-box {
    position: absolute;
}

#pokemonImage {
    width: 25vw;
    height: auto;
}

#info {
    display: flex;
    justify-content: center;
    font-size: 2em;
    flex-wrap: wrap;
}

#moves {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    flex-wrap: wrap;
}

/*Style the search field*/
form.pokemon-search input[type=text] {
    /* position:absolute; */
    left:80px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid black;
    float: left;
    width: 80%;
    background: #f1f1f1;
    left:80px;
}

/*Style the submit button*/
#searchBar, #searchButton, button {
    float: left;
    width: auto;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.pokemon-search button:hover {
    background: #0b7dda;
}

form.pokemon-search::after {
    content: "";
    clear: both;
    display: table;
}

/*Style the up and down buttons*/
#up {
    background-color: grey;
    color: white;
    width: 6vw;
    height: 8vw;
    top: 10vw;
    left: 35vw;
    position: absolute;
    text-align: center;
}

#down {
    background-color: grey;
    color: white;
    width: 6vw;
    height: 8vw;
    top: 20vw;
    left: 35vw;
    position: absolute;
    text-align: center;
}