.container {
    background-color: crimson;
    display: flex;
    justify-content: space-evenly;
}

* {
    box-sizing: border-box;
}

button {
    height: 50px;
}

.image-box {
    background-color: white;
    width: 25vw;
    height: 25vw;
    position: absolute;
    top: 8vw;
    left: 8vw;
}

.info-box {
    background-color: white;
    width: 25vw;
    height: 25vw;
    position: absolute;
    top: 8vw;
    left: 35vw;
}

/*Puts Pokemon Image inside Box*/
.inside-box {
    position: absolute;
}

#pokemonImage {
    width: 25vw;
    height: auto;
}

/*Style the search field*/
form.pokemon-search input[type=text] {
    /* position:absolute; */
    left:80px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid black;
    float: left;
    width: 80%;
    background: #f1f1f1;
    left:80px;
}

/*Style the submit button*/
#searchBar, #searchButton, button {
    float: left;
    width: auto;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.pokemon-search button:hover {
    background: #0b7dda;
}

form.pokemon-search::after {
    content: "";
    clear: both;
    display: table;
}
